@include tablet {
    .contenedor-anuncios {
        @include grid(3, 2rem);
    }
}

.anuncio {
    background-color: lighten($gris, 5);
    border: 1px solid lighten($gris, 10);
    margin-bottom: 2rem;

    .contenido.anuncio {
        padding: 2rem;
    }

    h3, p {
        margin: 0 1rem;
    }
}

.imagen-anuncio{
    height:30rem;  
    @include tablet{
        object-fit: cover;
        object-position: center;
    }
    
}

.precio {
    color: $verde;
    font-weight: $bold;
    font-size: 3rem;
}

.iconos-caracteristicas {
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 40rem;
    margin: 0.5rem 1rem;

    li {
        flex: 1;
        display: flex;
        align-items: center;

        img {
            flex: 0 0 5rem;
            margin-right: 1rem;
        }

        p {
            font-weight: $black;
        }
    }
}

.resumen-propiedad {
    
    p {
        margin: 1rem 1rem;
    }
}